---
layout: default
title: Blog
---

{% for category in site.categories %}

{% capture category_name %}{{ category | first }}{% endcapture %}
<div class="header1-orange">{{ category_name | slugize }}</div>

<div class="projects-grid">

    {% for post in site.categories[category_name] reversed  %}

        <div class="project">
            
            {% assign my_variable = post.date | date: "%Y-%m-%d" %}

            <img src="{{site.baseurl}}/assets/posts/{{ category_name }}/{{ my_variable }}-{{post.slug}}/thumbnail.{{post.thumbnail-extension}}" class="project-image">

            <div class="project-button-read-more">Read More</div>
    
            <div class="project-title">{{post.title}}</div>
            
            <div class="badges">
                <span>{{ post.date | date_to_string }}</span>
            </div>

        </div>

    {% endfor %}


</div>

{% endfor %}



assets/posts/Houdini/2019-09-15-getting-started-with-houdini/thumbnail.png
assets/posts/Houdini/2019-09-15-getting-started-with-houdini/thumbnail.png