---
layout: default
title: Blog
---

{% for category in site.categories %}

{% capture category_name %}{{ category | first }}{% endcapture %}
<div class="header1-orange">{{ category_name | slugize }}</div>

<div class="projects-grid">

    {% for post in site.categories[category_name] reversed  %}

        <div class="project">

            {% assign filename = "assets/posts/" | append: category_name | slugize | append: "/" | append: post.name | replace: '.md', '' | append: "/thumbnail" %}

            {% capture gif_exists %}{% file_exists {{ filename }}.gif %}{% endcapture %}

            {% if gif_exists == "true" %}
            <img src="{{ filename }}.gif" class="project-image">
            {% else %}
            <img src="{{ filename }}.png" class="project-image" />
            {% endif %}

            <div class="project-button-read-more">Read More</div>
    
            <div class="project-title">{{post.title}}</div>
            
            <div class="badges">
                <span>{{ post.date | date_to_string }}</span>
            </div>

        </div>

    {% endfor %}


</div>

{% endfor %}