<div id="footer">
  <div class="outer"></div>

  <div class="inner">

    <h1>Get in touch!</h1>

    <div class="sections-splits">

      <section>
        <h1>Address</h1>
        <span>Belgium Izegem</span>
      </section>

      <section>
        <h1>Email</h1>
        <span>benjamin.yde@gmail.com</span>

        <h1>Phone</h1>
        <span>+32 470 35 11 67</span>
      </section>

      <section>
        <h1>Socials</h1>
        <a href="https://github.com/BenjaminYde"><img class="icon" src="assets/images/icons/github_black.png"></a>
        <a href="https://www.linkedin.com/in/benjamin-yde-2b5092171/"><img class="icon" src="assets/images/icons/linked-in.png"></a>
      </section>

    </div>

  </div>

  <div class="rights-outer"></div>
  <div class="rights">© <script>document.write(new Date().getFullYear())</script> Benjamin Yde. All Rights Reserved.</div>
</div>